* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: rgb(190, 66, 174);
}
.navigation {
    background: white;
}

.navigation nav{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.navigation ul{
    list-style: none;
    text-align: center;
}

.navigation li{
display: inline-block;
padding: 8px 25px;
}

.navigation li:hover{
    text-decoration: underline;
}

.navigation li a {
    text-decoration: none;
    color: hotpink;
    font-size: 30px;
    font-family: 'Chilanka', cursive;
}

.navigation nav h1 {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 15px;
}

.navigation nav h1 a {
    text-decoration: none;
    color: hotpink;
    font-family: 'Krona One', sans-serif;
}

.navigation nav button{
    padding: 10px 20px;
    color: hotpink;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 2px;
    font-family: 'Krona One', sans-serif;
}

.navigation button:hover {
    background-color: orange;
}

.navigation button:focus {
    outline: none;
}